@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Barlow";
  background: #FEFCF7;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}

.header {
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: #fff;
}

.header__div {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 980px) {
  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  .header__logo {
    width: 162.309px;
    height: 17.308px;
  }
}
@media only screen and (max-width: 520px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .nav {
    display: none;
  }
  .header__logo {
    width: 235px;
    height: 25px;
  }
}
.nav {
  margin-left: auto;
}

.nav__ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__ul-li:not(:last-child) {
  margin-right: 33px;
}

.nav__ul-li-a {
  color: #83888F;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.6s ease;
}

.nav__ul-li-a:hover {
  color: #333D4B;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.primary__div {
  background-image: url(../imges/photo.png);
  max-width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.primary__wrapper {
  width: 493px;
  padding-top: 134px;
  padding-bottom: 134px;
  margin-left: 85px;
}

.primary__wrapper-title {
  color: #FEFCF7;
  font-family: "Fraunces";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  margin: 0;
}

.primary__wrapper-text {
  width: 445px;
  color: #FEFCF7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-top: 32px;
  opacity: 0.8;
}

@media only screen and (max-width: 980px) {
  .primary__wrapper {
    width: 398px;
    padding-top: 104px;
    padding-bottom: 103px;
    margin-left: 48px;
  }
  .primary__wrapper-title {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 48px;
    font-weight: 900;
    line-height: 48px;
    margin: 0;
  }
  .primary__wrapper-text {
    width: 350px;
    font-size: 15px;
    margin-top: 24px;
  }
}
@media only screen and (max-width: 520px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .primary__wrapper {
    width: 279px;
    padding-top: 104px;
    padding-bottom: 104px;
    margin-left: 24px;
    text-align: center;
    margin: 0 auto;
  }
  .primary__wrapper-title {
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    margin: 0;
  }
  .primary__wrapper-text {
    width: 279px;
    font-size: 15px;
    margin-top: 24px;
  }
  .primary__wrapper-btn {
    font-size: 18px;
    margin-top: 40px;
  }
}
.content {
  border-radius: 10px;
  background: #2C343E;
  margin-top: 155px;
}

.content__div {
  max-width: 100%;
  padding-top: 113px;
  padding-left: 85px;
  padding-right: 150px;
  padding-bottom: 99px;
}

.content__div-bg {
  display: flex;
  align-items: center;
  background-image: url(../img/Path\ 2.png);
  max-width: 760px;
  height: 2px;
  background: #FDD6BA;
}

.content__div-icons {
  width: 370px;
  text-align: end;
}

.content__ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 67px;
  margin-left: -95px;
}

.content__ul-li {
  width: 285px;
  margin-left: 95px;
  margin-bottom: 44px;
}

.content__ul-num {
  color: #FDD6BA;
  font-family: "Fraunces";
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  margin: 0;
}

.content__ul-title {
  display: block;
  color: #FEFCF7;
  font-family: "Fraunces";
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  margin-top: 38px;
}

.content__ul-text {
  color: #FEFCF7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-top: 42px;
}

@media only screen and (max-width: 980px) {
  .content {
    margin-top: 119px;
    margin-bottom: 140px;
  }
  .content__div {
    max-width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .content__div-bg {
    display: flex;
    align-items: center;
    background-image: url(../img/Path\ 2.png);
    max-width: 760px;
    height: 2px;
  }
  .content__div-icons {
    width: 370px;
    text-align: end;
  }
  .content__ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 67px;
    margin-bottom: 64px;
  }
  .content__ul-li {
    max-width: 223px;
    margin-left: 10px;
  }
  .content__ul-num {
    color: #FDD6BA;
    font-family: "Fraunces";
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    margin: 0;
  }
  .content__ul-title {
    display: block;
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    margin-top: 38px;
  }
  .content__ul-text {
    color: #FEFCF7;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    margin-top: 39px;
  }
}
@media only screen and (max-width: 520px) {
  .content {
    margin-top: 120px;
    margin-bottom: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .content__div {
    text-align: center;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .content__div-bg {
    display: none;
    align-items: center;
    background-image: url(../img/Path\ 2.png);
    max-width: 760px;
    height: 2px;
    margin-top: 80px;
  }
  .content__ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .content__ul-li {
    width: 100%;
    max-width: 300px;
  }
  .content__ul-div {
    text-align: center;
  }
  .content__ul-num {
    color: #FDD6BA;
    font-family: "Fraunces";
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    margin: 0;
  }
  .content__ul-title {
    display: block;
    color: #FEFCF7;
    font-family: "Fraunces";
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    margin-top: 24px;
  }
  .content__ul-text {
    color: #FEFCF7;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    margin-top: 24px;
  }
}
.Secondary {
  padding-top: 168px;
  padding-bottom: 168px;
}

.Secondary__container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 165px;
  padding-right: 165px;
}

.Secondary__main {
  display: flex;
}

.Secondary__head {
  width: 255px;
}

.Secondary__wrapper {
  display: inline-flex;
  align-items: center;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(133, 137, 143, 0.25);
}

.Secondary__wrapper2 {
  display: inline-flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(133, 137, 143, 0.25);
}

.Secondary__wrapper3 {
  display: inline-flex;
  align-items: center;
  border-bottom: 1px solid rgba(133, 137, 143, 0.25);
  padding-top: 24px;
}

.Secondary__wrapper-title {
  color: #0E8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0;
  opacity: 0.4;
}

.Secondary__wrapper-title2 {
  color: #333D4B;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0;
  opacity: 0.4;
}

.Secondary__wrapper-title3 {
  color: #83888F;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0;
}

.Secondary__wrapper-text {
  color: #333D4B;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  opacity: 0.4;
  margin-left: 24px;
  text-decoration: none;
}

.Secondary__wrapper-text3 {
  color: #333D4B;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin-left: 24px;
  text-decoration: none;
}

@media only screen and (max-width: 1048px) {
  .Secondary__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 85px;
    padding-right: 85px;
  }
}
@media only screen and (max-width: 980px) {
  .Secondary {
    padding-top: 144px;
    padding-bottom: 144px;
  }
  .Secondary__head {
    display: none;
  }
  .Secondary__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .Secondary__main {
    display: block;
    margin: 0;
  }
}
@media only screen and (max-width: 520px) {
  .Secondary {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .Secondary__head {
    display: none;
  }
  .Secondary__container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
  }
  .Secondary__main {
    display: block;
    margin: 0;
  }
}
.form {
  margin-left: auto;
  padding-left: 30px;
}

.form__ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__label {
  margin-bottom: 88px;
}

.form__label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #83888F;
  font-family: "Fraunces";
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  border: none;
  background: none;
}

.form__label svg:focus {
  transform: rotate(180deg);
}

.form__label-main {
  display: none;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-left: -23px;
  margin-bottom: 88px;
}

.form__label-div {
  display: block;
  width: 228px;
  border-radius: 8px;
  background: #F4F1EB;
  padding: 32px 28px 84px 28px;
  margin-left: 23px;
  margin-bottom: 25px;
}

.form__label-title {
  color: #333D4B;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  margin: 0;
}

.form__label-text {
  color: #333D4B;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-top: 24px;
}

.visually-hidden:checked + .form__label-div {
  background: #0E8784;
}

.form__label-text2 {
  color: #333D4B;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-top: 24px;
}

.visually-hidden:checked + .form__label-div2 {
  background: #0E8784;
}

.form__label-text3 {
  color: #333D4B;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  margin-top: 24px;
}

.form__bground {
  background: #2C343E;
  padding: 27px 64px;
}

.form__bground-wrapper {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  opacity: 0.5037;
  margin-bottom: 8px;
}

.form__value-wrapper {
  color: #FFF;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.spn1 {
  color: #0E8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.spn2 {
  color: #0E8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.spn3 {
  color: #0E8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.spn4 {
  color: #0E8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.spn5 {
  color: #0E8784;
  font-family: "Fraunces";
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.form__bottom {
  text-align: end;
}

.form__btn {
  color: #FEFCF7;
  border: none;
  font-family: "Fraunces";
  font-size: 18px;
  padding: 15px 35px 16px 35px;
  font-weight: 900;
  line-height: 25px;
  border-radius: 6px;
  background: #0E8784;
  transition: background-color 0.6s ease;
  margin-top: 40px;
}

.form__btn:hover {
  background-color: #66D2CF;
}

.btn--style {
  display: flex;
}

@media only screen and (max-width: 1048px) {
  .form__bottom {
    text-align: center;
  }
}
@media only screen and (max-width: 980px) {
  .form {
    text-align: center;
    padding-left: 0;
  }
  .form__label-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 56px;
    margin-left: -23px;
  }
}
@media only screen and (max-width: 520px) {
  .form__label-div {
    display: block;
    width: 100%;
    border-radius: 8px;
    background: #F4F1EB;
    padding: 32px 28px 84px 28px;
    margin-bottom: 25px;
  }
  .form {
    text-align: left;
    padding-left: 0;
  }
  .form__label-main {
    display: flex;
    justify-content: center;
    margin-top: 56px;
  }
}
.footer {
  background: #2C343E;
  padding-top: 47px;
  padding-bottom: 47px;
}

.footer__div {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1105px) {
  .footer {
    background: #2C343E;
    padding-top: 54px;
    padding-bottom: 54px;
  }
  .footer__div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 520px) {
  .footer {
    background: #2C343E;
    padding-top: 54px;
    padding-bottom: 54px;
  }
  .footer__div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.footer__ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 102px;
}

.footer__ul-li:not(:last-child) {
  margin-right: 32px;
}

.footer__ul-li-a {
  color: #83888F;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.923px;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.6s ease;
}

.footer__ul-li-a:hover {
  color: #FEFCF7;
}

.footer__div-icons {
  margin-left: auto;
}

.footer__div-icons-svg:not(:first-child) {
  margin-left: 20px;
}

.footer__div-icons-svg:hover path {
  fill: #FDD6BA;
  transition: 0.6s;
}

@media only screen and (max-width: 1105px) {
  .footer__logo {
    width: 235px;
    height: 25px;
  }
  .footer__ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 32px;
  }
  .footer__ul-li:not(:last-child) {
    margin-right: 32px;
  }
  .footer__ul-li-a {
    color: #83888F;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  .footer__div-icons {
    margin: 0 auto;
    margin-top: 65px;
  }
  .footer__div-icons-svg:not(:first-child) {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 520px) {
  .footer__logo {
    width: 216.923px;
    height: 23.077px;
  }
  .footer__ul {
    display: block;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 32px;
  }
  .footer__ul-li:not(:first-child) {
    margin-top: 24px;
  }
  .footer__ul-li:not(:last-child) {
    margin-left: 20px;
  }
  .footer__ul-li-a {
    color: #83888F;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.923px;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.6s ease;
  }
  .footer__div-icons {
    margin: 0 auto;
    margin-top: 65px;
  }
  .footer__div-icons-svg:not(:first-child) {
    margin-left: 20px;
  }
}/*# sourceMappingURL=elements.css.map */