.footer{
    background: #2C343E;
    padding-top: 47px;
    padding-bottom: 47px;
}

.footer__div{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1105px){

    .footer{
        background: #2C343E;
        padding-top: 54px;
        padding-bottom: 54px;
    }
    
    .footer__div{
        display: flex;
        align-items: center;
        flex-direction: column;
 
    }
}

@media only screen and (max-width: 520px){

    .footer{
        background: #2C343E;
        padding-top: 54px;
        padding-bottom: 54px;
    }
    
    .footer__div{
        display: flex;
        align-items: center;
        flex-direction: column;

    }
}